* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background-color: #212121;
  color: white;
  min-height: 100vh;
}

/* LOGIN + CHAT WRAPPER */
#login-container,
#chat-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 30px;
}

/* CHAT BOX */
#chat-container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  background-color: #212121;
  overflow: hidden;
}

/* MESSAGES AREA */
#messages {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  scroll-behavior: smooth;
}

#messages::-webkit-scrollbar {
  display: none;
}

/* MESSAGE STYLE */
#messages li {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-container.my-message {
  align-items: flex-end;
}

.name {
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 4px;
  color: #d3d3d3;
}

.text {
  font-size: 1em;
  max-width: 70%;
  padding: 12px;
  border-radius: 20px;
  word-wrap: break-word;
}

.my-message .text {
  background-color: #2e2f2e;
}

.other-message .text {
  background-color: #393a41;
}

/* INPUT AREA */
#chat-form {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: auto;
  padding-top: 10px;
}

#message-input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border-radius: 20px;
  background: #444;
  color: white;
  border: none;
  outline: none;
}

/* BUTTON */
button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #d3d3d3;
  color: #212121;
  cursor: pointer;
}

button:hover {
  background: #a1a1a1;
}

/* LOGIN */
#login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
