* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #212121;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGIN + CHAT */
#login-container,
#chat-container {
  width: 100%;
  max-width: 400px;
}

/* CHAT BOX */
#chat-container {
  height: 85vh;
  display: flex;
  flex-direction: column;

  padding: 20px;
  border-radius: 20px;
  overflow: hidden;
}

/* WELCOME (if exists) */
#chatroom-welcome {
  flex-shrink: 0;
}

/* MESSAGES AREA */
#messages {
  flex: 1;
  overflow-y: auto;
  min-height: 0;

  margin: 0;
  padding: 0;
  list-style: none;
}

#messages::-webkit-scrollbar {
  display: none;
}

/* MESSAGE ITEMS */
#messages li {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.message-container {
  display: flex;
  flex-direction: column;
}

.message-container.my-message {
  align-items: flex-end;
}

.message-container.other-message {
  align-items: flex-start;
}

.name {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 4px;
}

.text {
  max-width: 70%;
  padding: 12px;
  border-radius: 16px;
  word-wrap: break-word;
}

.my-message .text {
  background: #2e2f2e;
}

.other-message .text {
  background: #393a41;
}

/* INPUT */
#chat-form {
  display: flex;
  gap: 10px;

  flex-shrink: 0;
  margin-top: 10px;
}

#message-input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: #444;
  color: white;
}

button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #d3d3d3;
}
